@import "../../../App";

.makeStyles-dialog-1 {
  height: 82vh !important;
}

.modal_btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;

  button {
    @include btn_opposite();

    &:hover {
      border: none;
    }

    @media(max-width: 450px) {
      font-size: 14px;
    }
  }
}

.dialog_body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .type_lang_slc {
    display: flex;
    width: 100%;
    justify-content: space-between;

    div {
      width: 48%;
      margin: 0;

      .MuiOutlinedInput-root {
        width: 100%;
        margin-top: 10px;
        height: 5vh;

        .MuiSelect-select {
          width: 100%;
        }
      }
    }
  }

  .name_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;

    div {
      width: 48%;

      input {
        margin-top: 10px;
        width: 100%;
        height: 5vh;
        border: 1px solid #c8c2c2;
        border-radius: 5px;
        outline: none;

        &:hover {
          border-color: #000;
        }
      }
    }
  }

  .description {
    margin-top: 20px;

    textarea {
      padding: 10px;
      resize: none;
      margin-top: 10px;
      outline: none;
      width: 100%;
      height: 10vh;
      border: 1px solid #c8c2c2;
      border-radius: 5px;

      &:hover {
        border-color: #000;
      }
    }
  }
}

.admin_dialog_button {
  display: flex;
  justify-content: flex-end;

  button {
    justify-content: center;
    background: #dcdada;
    display: flex;
    border: none;
    width: 30px;
    height: 30px;
    align-items: center;

    &:hover {
      background: #b8b6b6;
    }
  }
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .shapefile-icon {
    .addPhoto {
      text-transform: capitalize;
      padding-right: 6px;
    }
  }

  .addingPhoto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .prevPic {
      width: 200px;
      height: 200px;
      margin-top: 10px;

      .prevImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid #715b3e;
      }
    }
  }
}

.pic label {
  color: #000;
}

.saveBtn {
  display: flex;
  justify-content: center;

  button {
    @include btn();
    color: #000;
  }

}

img {
  width: 80px;
}

.modal_product {
  width: 90%;
  margin: 30px auto 0;

  .MuiTableHead-root {
    .MuiTableCell-root {
      font-weight: 600;
    }

    .MuiTableCell-root {
      text-align: center;
    }
  }

  .css-1ex1afd-MuiTableCell-root {
    text-align: center !important;
  }
}

.update_del_btn {
  background: none;
  border: none;
}
