@import "../../App";

.cart_component {
  min-height: 100vh;
  background-color: #b5b1b14f;
  position: relative;

  .back_img {
    position: absolute;
    z-index: -1;
    width: 500px;
    opacity: .3;
    top: 0;
    right: 0;

    img {
      width: 100%;
    }

    @media(max-width: 1200px) {
      display: none;
    }
  }

  .order {
    padding-top: 15vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      margin-top: 50px;
      text-align: center;
      @media(max-width: 600px) {
        font-size: 20px;
      }
    }

    img {
      width: unset;
    }

    button {
      @include btn_opposite();
      margin-top: 50px;
      color: black;
    }
  }
}

.products_list {
  padding-top: 130px;
  width: 80%;
  margin: 0 auto;

  .wrapper {
    max-height: 36vh;
    overflow: auto;
  }

  .cart_container {
    overflow: auto;
    display: table;
    width: 100%;
    max-height: 36vh;
  }

  .products_name {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    padding-bottom: 16px;
    display: table-row;

    .text {
      display: table-cell;
      width: 280px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.351);
      padding: 10px 0;

      @media(max-width: 700px) {
        padding-right: 30px;
      }
    }

    @media(max-width: 900px) {
      font-size: 14px;
    }

  }

  @media(max-width: 1200px) {
    width: 90%;
  }
}

.one_cart_component {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.351);
  display: table-row;

  .text {
    padding: 10px 0;
    display: table-cell;
    width: 280px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.351);

    @media(max-width: 700px) {
      padding-right: 30px;
    }
  }

  .one_cart_component_count {
    div {
      justify-content: space-between;
      width: 40%;
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 18px;
      border: 1px solid rgba(0, 0, 0, 0.553);
      border-radius: 30px;
      @media(max-width: 1400px) {
        width: 50%;
      }
      @media(max-width: 1000px) {
        width: 60%;
      }
      @media(max-width: 700px) {
        width: 80%;
      }

    }


    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px;
      width: 30px;
      height: 30px;

      &:hover {
        border-radius: 30px;
        background: rgba(185, 182, 182, 0.415);
      }
    }
  }

  .one_cart_component_img {
    img {
      width: 135px;
      @media(max-width: 900px) {
        width: 110px;;
      }
    }
  }

  .one_cart_component_remove {
    button {
      border: none;
      border-radius: 4px;
      display: flex;
      padding: 5px;
      background-color: #e6e6ea63;

      &:hover {
        background-color: #e6e6ea;
      }
    }
  }
}

.total_price {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .bonus_p {
    font-size: 16px;
    font-weight: bold;
    @media(max-width: 616px) {
      width: 100%;
    }
  }

  .delivery {
    text-align: right;

    h2 {
      padding-bottom: 10px;
      @media(max-width: 1000px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 14px;
      color: rgb(197, 46, 46);

      span {
        font-weight: bold;
        font-size: 18px;
      }
    }

    @media(max-width: 616px) {
      text-align: center;
      width: 100%;
    }
  }

  @media(max-width: 616px) {
    text-align: center;
    gap: 10px;
  }
}

.total_price2{
  justify-content: flex-end;
}
