@import "../../../App";

.login {
  background: rgba(24, 23, 23, 0.86);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login_box {
    padding-top: 100px;
    width: 100%;

    .box {
      width: 30%;
      margin: 0 auto;
      padding: 40px;
      background: rgb(255, 255, 255);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
      border-radius: 10px;

      h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #262525b3;
        font-size: 30px;
        text-align: center;
        @media(max-width: 1200px) {
          margin: 0 0 16px;
        }
      }

      .inputBox {
        position: relative;

        .error {
          border: 1px solid #f5c6cb;
          box-shadow: 0 0 6px rgba(255, 0, 0, 50%);
        }

        input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: rgb(8, 8, 8);
          letter-spacing: 1px;
          margin-bottom: 3vh;
          border: none;
          border-bottom: 1px solid #908c8a5a;
          outline: none;
          background: transparent;
          cursor: pointer;

          &:hover {
            border-bottom: 1px solid #23212080;

          }

          &::placeholder {
            opacity: .5;
          }

          &:focus {
            border-bottom: 1px solid #282727cb;

          }
        }

      }

      button {
        @include btn();
        margin: 0 auto;

        &:hover {
          color: black;
        }
      }

      @media(max-width: 1500px) {
        width: 40%;
      }
      @media(max-width: 1000px) {
        width: 50%;
      }
      @media(max-width: 800px) {
        width: 70%;
      }
      @media(max-width: 500px) {
        width: 80%;
      }
      @media(max-width: 400px) {
        width: 89%;
        padding: 30px 16px;
      }
    }

  }
}
