@import "../../../App";

.user_change_password {
  background-color: #1d1c1cf8;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .user_change_password_box {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .userPage_container {
      width: 48%;

      .UserInfo_component {
        h3 {
          color: #e5001bb0;
          padding: 20px 0;
          font-size: 30px;
          @media(max-width: 550px) {
            font-size: 26px;
          }
          @media(max-width: 450px) {
            font-size: 22px;
          }
        }

        p {
          color: rgb(192, 190, 190);
          font-size: 20px;
          padding-bottom: 10px;
          @media(max-width: 550px) {
            font-size: 18px;
          }
          @media(max-width: 400px) {
            font-size: 16px;
          }

          span {
            color: white;
            font-weight: bold;
            padding-left: 10px;
            font-size: 18px;
            @media(max-width: 550px) {
              font-size: 16px;
            }
            @media(max-width: 400px) {
              font-size: 14px;
            }
          }
        }
      }

      @media(max-width: 1100px) {
        width: auto;
      }
      @media(max-width: 400px) {
        padding: 0 20px;
      }
    }


    .user_box {
      width: 40%;
      padding: 60px 40px;
      background: rgb(255, 255, 255);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
      border-radius: 10px;
      margin-left: 10%;

      h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #262525b3;
        font-size: 30px;
        text-align: center;
        @media(max-width: 550px) {
          font-size: 24px;;
        }
        @media(max-width: 400px) {
          font-size: 20px;
        }
      }

      .inputBox {
        position: relative;

        input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: rgb(8, 8, 8);
          letter-spacing: 1px;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #908c8a5a;
          outline: none;
          background: transparent;
          cursor: pointer;

          &::placeholder {
            opacity: .5;
          }

          @media(max-width: 400px) {
            padding: 0;
          }
        }

      }

      .button {

        @include btn();
        margin: 0 auto;

        &:hover {
          color: black;
        }
      }

      @media(max-width: 1400px) {
        width: 47%;
      }
      @media(max-width: 1100px) {
        margin-left: 0;
      }
      @media(max-width: 850px) {
        width: 400px;
      }
      @media(max-width: 500px) {
        width: 350px;
        padding: 40px 20px;
      }
      @media(max-width: 400px) {
        width: 300px;
      }
      @media(max-width: 350px) {
        width: 280px;
      }
    }

    @media(max-width: 1250px) {
      width: 80%;
    }
    @media(max-width: 1100px) {
      flex-direction: column;
      gap: 60px;
      width: 100%;
    }

  }

  @media(max-width: 1100px) {
    padding: 80px 0;
  }
}
